.str-chat__list .str-chat__reverse-infinite-scroll {
    padding-top: 0px;
}
.str-chat__input-flat {
    border-top: 1px solid rgb(124, 113, 113);
    background-color: #ffffff;

}
.str-chat__input-flat .str-chat__textarea>textarea{
    background-color:#ffffff;
}